@tailwind base;
@tailwind utilities;
@tailwind components;

[data-theme="dark"] {
  --bg-color: #282a36;
  --bg-color-modal: #313342;
  --primary-hover-color: #6ee7b7;
  --secondary-hover-color: #919191;
  --primary-border-color: #10b981;
  --primary-focus-color: #059669;
  --shadow-color: #065f46;
  
  --text-color: #e4e4e7;
  --text-color-placeholder: #a1a1aa;
}

[data-theme="light"] {
  --bg-color: #CECEE5;
  --bg-color-modal: #F3F3FF;
  --primary-hover-color: #dcfce7;
  --secondary-hover-color: #BCBCBC;
  --primary-border-color: #22c55e;
  --primary-focus-color: #16a34a;
  --shadow-color: #22c55e;

  --text-color: #52525b;
  --text-color-placeholder: #a1a1aa;
}

* {
  -webkit-font-smoothing: antialiased;
  background-color: #333;
}

@font-face {
  font-family: "RajdhaniBold";
  src: url("/src/styles/fonts/Rajdhani-Bold.ttf");
}
@font-face {
  font-family: "RajdhaniLight";
  src: url("/src/styles/fonts/Rajdhani-Light.ttf");
}
@font-face {
  font-family: "RajdhaniMedium";
  src: url("/src/styles/fonts/Rajdhani-Medium.ttf");
}
@font-face {
  font-family: "RajdhaniRegular";
  src: url("/src/styles/fonts/Rajdhani-Regular.ttf");
}
@font-face {
  font-family: "RajdhaniSemiBold";
  src: url("/src/styles/fonts/Rajdhani-SemiBold.ttf");
}
